.icons-head {top: 10px; 
    left: 0; 
	bottom: 0; 
	right: 10px;
	}
.icon {
  height: 16px;
  width: 16px;
  display: block;
  float: left;
  margin: 0 6px 0 0;
  background: url('sprite.png') no-repeat;
}

.icon.none { background-position: 16px 16px; }

.icon.silver { background-position: 0px 0px; }
.icon.yellow { background-position: -16px 0px; }
.icon.red { background-position: -32px 0px; }
.icon.green { background-position: -48px 0px; }
.icon.blue { background-position: -64px 0px; }
.icon.load.down { background-position: -80px 0px; }
.icon.load.up { background-position: -96px 0px; }
.icon.blank { background-position: -112px 0px; }
.icon.page { background-position: -128px 0px; }
.icon.list { background-position: -144px 0px; }
.icon.image { background-position: -160px 0px; }
.icon.news { background-position: -176px 0px; }
.icon.notepad { background-position: -192px 0px; }
.icon.scroll { background-position: -208px 0px; }
.icon.print { background-position: -224px 0px; }
.icon.scissors { background-position: -240px 0px; }
.icon.article { background-position: -256px 0px; }
.icon.share.page { background-position: -272px 0px; }
.icon.share.folder { background-position: -288px 0px; }
.icon.share.image { background-position: -304px 0px; }

.icon.plus { background-position: 0px -16px; }
.icon.minus { background-position: -16px -16px; }
.icon.edit { background-position: -32px -16px; }
.icon.delete { background-position: -48px -16px; }
.icon.check { background-position: -64px -16px; }
.icon.pencil.yellow { background-position: -80px -16px; }
.icon.pencil.green { background-position: -96px -16px; }
.icon.eraser { background-position: -112px -16px; }
.icon.floppy.black { background-position: -128px -16px; }
.icon.floppy.blue { background-position: -144px -16px; }
.icon.db { background-position: -160px -16px; }
.icon.gear { background-position: -176px -16px; }
.icon.tools { background-position: -192px -16px; }
.icon.filter { background-position: -208px -16px; }
.icon.find { background-position: -224px -16px; }
.icon.search { background-position: -240px -16px; }
.icon.music { background-position: -256px -16px; }
.icon.compass { background-position: -272px -16px; }
.icon.put { background-position: -288px -16px; }
.icon.hd { background-position: -304px -16px; }

.icon.person.silver { background-position: 0px -32px; }
.icon.person.yellow { background-position: -16px -32px; }
.icon.person.red { background-position: -32px -32px; }
.icon.person.green { background-position: -48px -32px; }
.icon.person.blue { background-position: -64px -32px; }
.icon.home { background-position: -80px -32px; }
.icon.android { background-position: -96px -32px; }
.icon.phone { background-position: -112px -32px; }
.icon.fax { background-position: -128px -32px; }
.icon.sms { background-position: -144px -32px; }
.icon.mobile { background-position: -160px -32px; }
.icon.call { background-position: -176px -32px; }
.icon.world { background-position: -192px -32px; }
.icon.globe { background-position: -208px -32px; }
.icon.chain { background-position: -224px -32px; }
.icon.telnet { background-position: -240px -32px; }
.icon.icq { background-position: -256px -32px; }
.icon.gtalk { background-position: -272px -32px; }
.icon.skype { background-position: -288px -32px; }
.icon.properties { background-position: -304px -32px; }

.icon.portfolio { background-position: 0px -48px; }
.icon.folder.close { background-position: -16px -48px; }
.icon.folder.open { background-position: -32px -48px; }
.icon.puzzle.green { background-position: -48px -48px; }
.icon.puzzle.silver { background-position: -64px -48px; }
.icon.house { background-position: -80px -48px; }
.icon.office { background-position: -96px -48px; }
.icon.pointer { background-position: -112px -48px; }
.icon.download { background-position: -128px -48px; }
.icon.mallet { background-position: -144px -48px; }
.icon.scales { background-position: -160px -48px; }
.icon.court { background-position: -176px -48px; }
.icon.coins { background-position: -192px -48px; }
.icon.money { background-position: -208px -48px; }
.icon.card { background-position: -224px -48px; }
.icon.safe { background-position: -240px -48px; }
.icon.film { background-position: -256px -48px; }
.icon.cinema { background-position: -272px -48px; }
.icon.mic { background-position: -288px -48px; }
.icon.speaker { background-position: -304px -48px; }

.icon.talk { background-position: 0px -64px; }
.icon.msg { background-position: -16px -64px; }
.icon.chat { background-position: -32px -64px; }
.icon.message { background-position: -48px -64px; }
.icon.new { background-position: -64px -64px; }
.icon.lamp.yellow { background-position: -80px -64px; }
.icon.lamp.silver { background-position: -96px -64px; }
.icon.lock.open { background-position: -112px -64px; }
.icon.lock.close { background-position: -128px -64px; }
.icon.key { background-position: -144px -64px; }
.icon.warn { background-position: -160px -64px; }
.icon.on { background-position: -176px -64px; }
.icon.no { background-position: -192px -64px; }
.icon.shield { background-position: -208px -64px; }
.icon.run { background-position: -224px -64px; }
.icon.attach { background-position: -240px -64px; }
.icon.angle { background-position: -256px -64px; }
.icon.ruler { background-position: -272px -64px; }
.icon.wand { background-position: -288px -64px; }
.icon.screen { background-position: -304px -64px; }

.icon.heart { background-position: 0px -80px; }
.icon.seal { background-position: -16px -80px; }
.icon.abacus { background-position: -32px -80px; }
.icon.cookie { background-position: -48px -80px; }
.icon.camera { background-position: -64px -80px; }
.icon.flash { background-position: -80px -80px; }
.icon.broom { background-position: -96px -80px; }
.icon.label { background-position: -112px -80px; }
.icon.eye { background-position: -128px -80px; }
.icon.hourglass { background-position: -144px -80px; }
.icon.graph.hor { background-position: -160px -80px; }
.icon.graph.ver { background-position: -176px -80px; }
.icon.graph.pie { background-position: -192px -80px; }
.icon.month { background-position: -208px -80px; }
.icon.day { background-position: -224px -80px; }
.icon.graph.multi { background-position: -240px -80px; }
.icon.qrcode { background-position: -256px -80px; }
.icon.barcode { background-position: -272px -80px; }
.icon.stamp { background-position: -288px -80px; }
.icon.pin { background-position: -304px -80px; }

.icon.mail.yellow { background-position: 0px -96px; }
.icon.mail.blue { background-position: -16px -96px; }
.icon.mailto { background-position: -32px -96px; }
.icon.mail.open { background-position: -48px -96px; }
.icon.mail.big { background-position: -64px -96px; }
.icon.package { background-position: -80px -96px; }
.icon.drawer { background-position: -96px -96px; }
.icon.box { background-position: -112px -96px; }
.icon.modules { background-position: -128px -96px; }
.icon.inbox.empty { background-position: -144px -96px; }
.icon.inbox.mail { background-position: -160px -96px; }
.icon.lamp { background-position: -176px -96px; }
.icon.labs { background-position: -192px -96px; }
.icon.wall { background-position: -208px -96px; }
.icon.bell { background-position: -224px -96px; }
.icon.ways { background-position: -240px -96px; }
.icon.loop { background-position: -256px -96px; }
.icon.online { background-position: -272px -96px; }
.icon.offline { background-position: -288px -96px; }
.icon.help { background-position: -304px -96px; }

.icon.profile.item { background-position: 0px -112px; }
.icon.profile.card { background-position: -16px -112px; }
.icon.profile.vcard { background-position: -32px -112px; }
.icon.addressbook { background-position: -48px -112px; }
.icon.book { background-position: -64px -112px; }
.icon.alarm { background-position: -80px -112px; }
.icon.time { background-position: -96px -112px; }
.icon.clock { background-position: -112px -112px; }
.icon.smile.happy { background-position: -128px -112px; }
.icon.smile.upset { background-position: -144px -112px; }
.icon.smile.apathy { background-position: -160px -112px; }
.icon.clone { background-position: -176px -112px; }
.icon.merge { background-position: -192px -112px; }
.icon.turn.down { background-position: -208px -112px; }
.icon.turn.up { background-position: -224px -112px; }
.icon.turn.left { background-position: -240px -112px; }
.icon.turn.right { background-position: -256px -112px; }
.icon.breaking { background-position: -272px -112px; }
.icon.unify { background-position: -288px -112px; }
.icon.selection { background-position: -304px -112px; }

.icon.tag.silver { background-position: 0px -128px; }
.icon.tag.yellow { background-position: -16px -128px; }
.icon.tag.red { background-position: -32px -128px; }
.icon.tag.green { background-position: -48px -128px; }
.icon.tag.blue { background-position: -64px -128px; }
.icon.change { background-position: -80px -128px; }
.icon.refresh { background-position: -96px -128px; }
.icon.redo { background-position: -112px -128px; }
.icon.undo { background-position: -128px -128px; }
.icon.left { background-position: -144px -128px; }
.icon.right { background-position: -160px -128px; }
.icon.down { background-position: -176px -128px; }
.icon.up { background-position: -192px -128px; }
.icon.up.left { background-position: -208px -128px; }
.icon.up.right { background-position: -224px -128px; }
.icon.down.left { background-position: -240px -128px; }
.icon.down.right { background-position: -256px -128px; }
.icon.prev { background-position: -272px -128px; }
.icon.next { background-position: -288px -128px; }
.icon.presentation { background-position: -304px -128px; }

.icon.flag.silver { background-position: 0px -144px; }
.icon.flag.yellow { background-position: -16px -144px; }
.icon.flag.red { background-position: -32px -144px; }
.icon.flag.green { background-position: -48px -144px; }
.icon.flag.blue { background-position: -64px -144px; }
.icon.to.begin { background-position: -80px -144px; }
.icon.to.end { background-position: -96px -144px; }
.icon.to.prev { background-position: -112px -144px; }
.icon.to.next { background-position: -128px -144px; }
.icon.stop { background-position: -144px -144px; }
.icon.pause { background-position: -160px -144px; }
.icon.to.left { background-position: -176px -144px; }
.icon.to.right { background-position: -192px -144px; }
.icon.to.up { background-position: -208px -144px; }
.icon.to.down { background-position: -224px -144px; }
.icon.record { background-position: -240px -144px; }
.icon.bold { background-position: -256px -144px; }
.icon.italic { background-position: -272px -144px; }
.icon.underline { background-position: -288px -144px; }
.icon.strike { background-position: -304px -144px; }

.icon.star.red { background-position: 0px -160px; }
.icon.star.green { background-position: -16px -160px; }
.icon.star.blue { background-position: -32px -160px; }
.icon.order.red { background-position: -48px -160px; }
.icon.order.green { background-position: -64px -160px; }
.icon.order.blue { background-position: -80px -160px; }
.icon.medal.red { background-position: -96px -160px; }
.icon.medal.green { background-position: -112px -160px; }
.icon.medal.blue { background-position: -128px -160px; }
.icon.star { background-position: -144px -160px; }
.icon.crown { background-position: -160px -160px; }
.icon.goal { background-position: -176px -160px; }
.icon.fire { background-position: -192px -160px; }
.icon.cursor.silver { background-position: -208px -160px; }
.icon.cursor.blue { background-position: -224px -160px; }
.icon.anchor { background-position: -240px -160px; }
.icon.align.justify { background-position: -256px -160px; }
.icon.align.left { background-position: -272px -160px; }
.icon.align.center { background-position: -288px -160px; }
.icon.align.right { background-position: -304px -160px; }

.icon.star.silver { background-position: 0px -176px; }
.icon.star.half { background-position: -16px -176px; }
.icon.star.yellow { background-position: -32px -176px; }
.icon.handshake { background-position: -48px -176px; }
.icon.give { background-position: -64px -176px; }
.icon.hand { background-position: -80px -176px; }
.icon.point.up { background-position: -96px -176px; }
.icon.point.down { background-position: -112px -176px; }
.icon.point.left { background-position: -128px -176px; }
.icon.point.right { background-position: -144px -176px; }
.icon.hand.up { background-position: -160px -176px; }
.icon.hand.down { background-position: -176px -176px; }
.icon.color { background-position: -192px -176px; }
.icon.palette { background-position: -208px -176px; }
.icon.fill { background-position: -224px -176px; }
.icon.colors { background-position: -240px -176px; }
.icon.paragraph { background-position: -256px -176px; }
.icon.image.left { background-position: -272px -176px; }
.icon.image.center { background-position: -288px -176px; }
.icon.image.right { background-position: -304px -176px; }

.icon.table { background-position: 0px -192px; }
.icon.table.header { background-position: -16px -192px; }
.icon.tv { background-position: -32px -192px; }
.icon.calc { background-position: -48px -192px; }
.icon.car.red { background-position: -64px -192px; }
.icon.car.blue { background-position: -80px -192px; }
.icon.cart { background-position: -96px -192px; }
.icon.crop { background-position: -112px -192px; }
.icon.zip { background-position: -128px -192px; }
.icon.dir.close { background-position: -144px -192px; }
.icon.dir.open { background-position: -160px -192px; }
.icon.dir.vert { background-position: -176px -192px; }
.icon.catalog.close { background-position: -192px -192px; }
.icon.catalog.open { background-position: -208px -192px; }
.icon.fldr.close { background-position: -224px -192px; }
.icon.fldr.open { background-position: -240px -192px; }
.icon.quote { background-position: -256px -192px; }
.icon.replace { background-position: -272px -192px; }
.icon.list.ord { background-position: -288px -192px; }
.icon.list.num { background-position: -304px -192px; }

.icon.paper.empty { background-position: 0px -208px; }
.icon.paper.text { background-position: -16px -208px; }
.icon.papers.empty { background-position: -32px -208px; }
.icon.papers.text { background-position: -48px -208px; }
.icon.papers.many { background-position: -64px -208px; }
.icon.books { background-position: -80px -208px; }
.icon.book.open { background-position: -96px -208px; }
.icon.bookmark { background-position: -112px -208px; }
.icon.book.help { background-position: -128px -208px; }
.icon.structure { background-position: -144px -208px; }
.icon.nodes { background-position: -160px -208px; }
.icon.group { background-position: -176px -208px; }
.icon.sun { background-position: -192px -208px; }
.icon.drop { background-position: -208px -208px; }
.icon.rain { background-position: -224px -208px; }
.icon.snow { background-position: -240px -208px; }
.icon.cloud { background-position: -256px -208px; }
.icon.clouds { background-position: -272px -208px; }
.icon.sun.cloud { background-position: -288px -208px; }
.icon.storm { background-position: -304px -208px; }

.icon.keyboard { background-position: 0px -224px; }
.icon.academy { background-position: -16px -224px; }
.icon.usb { background-position: -32px -224px; }
.icon.webcam { background-position: -48px -224px; }
.icon.switch { background-position: -64px -224px; }
.icon.appication { background-position: -80px -224px; }
.icon.file.unknown { background-position: -96px -224px; }
.icon.file.text { background-position: -112px -224px; }
.icon.file.source { background-position: -128px -224px; }
.icon.file.doc { background-position: -144px -224px; }
.icon.file.xls { background-position: -160px -224px; }
.icon.file.ppt { background-position: -176px -224px; }
.icon.file.html { background-position: -192px -224px; }
.icon.file.pdf { background-position: -208px -224px; }
.icon.file.iso { background-position: -224px -224px; }
.icon.file.avi { background-position: -240px -224px; }
.icon.unknown2 { background-position: -256px -224px; }
.icon.unknown3 { background-position: -272px -224px; }
.icon.unknown4 { background-position: -288px -224px; }
.icon.unknown5 { background-position: -304px -224px; }

.icon.google { background-position: 0px -240px; }
.icon.facebook { background-position: -16px -240px; }
.icon.linkedin { background-position: -32px -240px; }
.icon.twitter { background-position: -48px -240px; }
.icon.youtube { background-position: -64px -240px; }
.icon.twit { background-position: -80px -240px; }
.icon.vimeo { background-position: -96px -240px; }
.icon.gmail { background-position: -112px -240px; }
.icon.unknown6 { background-position: -128px -240px; }
.icon.unknown7 { background-position: -144px -240px; }
.icon.unknown8 { background-position: -160px -240px; }
.icon.unknown9 { background-position: -176px -240px; }
.icon.unknown10 { background-position: -192px -240px; }
.icon.unknown11 { background-position: -208px -240px; }
.icon.unknown12 { background-position: -224px -240px; }
.icon.unknown13 { background-position: -240px -240px; }
.icon.unknown14 { background-position: -256px -240px; }
.icon.unknown15 { background-position: -272px -240px; }
.icon.unknown16 { background-position: -288px -240px; }
.icon.unknown17 { background-position: -304px -240px; }

.icon.x.gray { background-position: 0px -256px; }
.icon.x.white { background-position: -16px -256px; }
.icon.x.black { background-position: -32px -256px; }
